.Pictures {
  margin: 10px;
}

.ingredients {
  margin: 15px;
  border: 2px solid maroon;
  width: 150px;
  height: 150px;
  margin-left: 35px;
  margin-right: 35px;
}

.Board {
  width: 85%;
  height: 500px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 2px solid black;
}
