@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Knewave&display=swap');

body {
  font-family: 'Knewave', cursive;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Knewave', cursive;
}

.small {
  font-weight: 300;
  font-style: italic;
}
