.modal-header-custom {
  background-color: #656e70;
  margin: -1px;
  border-width: 10px;
  border-color: black;
}

.modal-body-custom {
  background-color: #656e70;
  margin: -1px;
  // border-width: 10px;
  // border-color: black;
}

.modal-button-custom {
  background-color: #343a40;
  color: rgb(252, 252, 252);
  text-shadow: 2px 2px black, 1px 1px black;
  margin: 5px;
  font-size: 16pt;
//   text-shadow: 2px 2px #000000, 1px 1px #000000;
}

.btn-success {
    text-shadow: 2px 2px black, 1px 1px black;
    background-color: #11D992;
}

.btn-success:hover {
    text-shadow: -2px -2px black, -1px -1px black;
}

.modal-button-custom:hover {
  text-shadow: -2px -2px black, -1px -1px black;
}

.close {
  font-size: 40pt;
}

.close:hover {
    text-shadow: -2px -2px white, -1px -1px white;
}

// #madchef-title {
//   font-family: "Anton", cursive;
//   font-size: 45px;
//   text-shadow: 2px 2px red;
// }

.navbar-dark .navbar-nav .nav-link {
  color: white;
  font-size: 16pt !important;
}

.bg-dark {
    background-color: black!important;
}

.madchef-logo {
    max-height: 90px;
}